@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}
body{
  background-color: #100027;
}


@keyframes word {
  0% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(-10%);
    animation-timing-function: ease-out;
  }

  20% {
    transform: translateY(0);
  }

  40%,
  100% {
    transform: translateY(-110%);
  }
}

.animate-word {
  animation: word 10s infinite;
}
.animate-word-delay-1 {
  animation: word 10s infinite;
  animation-delay: -2s;
}
.animate-word-delay-2 {
  animation: word 10s infinite;
  animation-delay: -4s;
}
.animate-word-delay-3 {
  animation: word 10s infinite;
  animation-delay: -6s;
}
.animate-word-delay-4 {
  animation: word 10s infinite;
  animation-delay: -8s;
}

